{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Dhaval's Diary</h1>
              <span class="subheading">My Personal Blog</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

         {% for post in post_list %}
          <div class="post-preview">
            <a href="{% url 'post_detail' pk=post.pk %}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
            </a>

            <p class="post-meta">Posted by
              <a href="#">{{ post.author }}</a>
              on {{ post.published_date|date:"D M Y"}}</p>
          </div>
          <hr>
        </div>
         {% endfor %}

      </div>
    </div>

    <hr>

{% endblock %}

