{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

         {% for post in posts %}
          <div class="post-preview">
            <a href="{% url 'post_detail' pk=post.pk %}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
                <p>{{ post.text|truncatechars:200 }}</p>
            </a>

            <p class="post-meta">Posted by
              <a href="#">{{ post.author }}</a>
              on {{ post.published_date|date:"D M Y"}}</p>
          </div>
          <hr>
        </div>
         {% endfor %}

      </div>
    </div>
{% endblock %}
